<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/footlabcircle"
        android:label="@string/app_name"
        android:roundIcon="@drawable/footlabcircle"
        android:supportsRtl="true"
        android:theme="@style/Theme.FootLab"
        tools:targetApi="31">
        <activity
            android:name=".HistorialClinico"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Item_Galeria"
            android:exported="false" />
        <activity
            android:name=".MainView"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".LoginView"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar" /> <!-- Declarar ResultsActivity -->
        <activity
            android:name=".ResultsActivity"
            android:exported="true" /> <!-- Declarar ClasificacionResultsActivity -->
        <activity
            android:name=".ClasificacionResultsActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>